<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fitlog.backend.repository.AdminMapper">

    <!-- ============ exercises_media ============ -->
    <sql id="em_kw">
        <where>
            <if test="keyword != null and keyword != ''">
                (exercise_id LIKE CONCAT('%', #{keyword}, '%')
                 OR storage_key LIKE CONCAT('%', #{keyword}, '%')
                 OR url LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="pageExercisesMedia" resultType="com.fitlog.backend.model.entity.ExerciseMedia">
        SELECT * FROM exercises_media
        <include refid="em_kw"/>
        ORDER BY created_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countExercisesMedia" resultType="long">
        SELECT COUNT(*) FROM exercises_media
        <include refid="em_kw"/>
    </select>

    <!-- ============ kb_chunks ============ -->
    <sql id="kc_kw">
        <where>
            <if test="source != null and source != ''">
                AND source = #{source}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (ref_id LIKE CONCAT('%', #{keyword}, '%')
                     OR chunk_text LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="pageKbChunks" resultType="com.fitlog.backend.model.entity.KbChunk">
        SELECT * FROM kb_chunks
        <include refid="kc_kw"/>
        ORDER BY id DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countKbChunks" resultType="long">
        SELECT COUNT(*) FROM kb_chunks
        <include refid="kc_kw"/>
    </select>

    <!-- ============ agent_sessions ============ -->
    <sql id="as_kw">
        <where>
            <if test="openid != null and openid != ''">
                AND openid = #{openid}
            </if>
            <if test="keyword != null and keyword != ''">
                AND (openid LIKE CONCAT('%', #{keyword}, '%')
                     OR messages LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </sql>

    <select id="pageAgentSessions" resultType="com.fitlog.backend.model.entity.AgentSession">
        SELECT * FROM agent_sessions
        <include refid="as_kw"/>
        ORDER BY updated_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAgentSessions" resultType="long">
        SELECT COUNT(*) FROM agent_sessions
        <include refid="as_kw"/>
    </select>

</mapper>
